# PV MariaDB
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mariadb-moodle-pv 
  labels:
    type: nfs
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-storage
  nfs:
    path: /volume1/nfs/k8s-data/moodle/mariadb 
    server: 192.168.1.20 

# PVC MariaDB
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
  namespace: dev
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: nfs-storage
  volumeName: mariadb-moodle-pv 

# Deployment MariaDB
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: dev
spec:
  replicas: 1
  serviceName: mariadb
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: bitnamilegacy/mariadb:12.0.2-debian-12-r0
        envFrom:
        - configMapRef:
            name: mariadb-config
        volumeMounts:
        - name: mariadb-storage
          mountPath: /bitnami/mariadb
      volumes:
      - name: mariadb-storage
        persistentVolumeClaim:
          claimName: mariadb-pvc
        resources:
          requests:
            cpu: "1500m"
            memory: "1Gi"
          limits:
            cpu: "2000"
            memory: "2Gi"
# Service MariaDB
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: dev
spec:
  type: NodePort
  ports:
  - port: 3306
    targetPort: 3306
    nodePort: 30001
  selector:
    app: mariadb