apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: moodle-pdb
  namespace: dev
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: moodle
      app.kubernetes.io/part-of: moodle-project
      app.kubernetes.io/instance: n7