apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: moodle
  namespace: dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: moodle
  minReplicas: 1
  maxReplicas: 1
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70